<rolesDefineConfig>
  <rolesDefine>
    <add name="ProcessAdmin" description="流程管理员" roles="SysAdmin:Administrators"/>
    <!--<add name="AdminFormQuery" description="分授权表单信息查询" roles="OAPORTAL:FORM_QUERY"/>-->
    <add name="AdminFormQuery" description="分授权表单信息查询" roles="SysAdmin:Administrators"/>
    <add name="WorkflowQueryAdmin" description="分授权流转信息查询" roles="SysAdmin:Administrators"/>
    <add name="DesignerRoleMatrix" description="流程角色矩阵" roles="SysAdmin:Administrators" />

    <!--招商相关的逻辑角色-->
    <add name="InvitationAdmin" description="招商系统管理员" roles="InvitationPlatform:Administrators"/>
    
    
    <add name="EditContacts" description="新建、编辑联系人" roles="InvitationPlatform:IndustrialParkAdministationManager;InvitationPlatform:InvestmentOfficer"/>

    <add name="ImportAndExportContact " description="下载模板、批量导入联系人" roles="InvitationPlatform:IndustrialParkAdministationManager"/>

    <add name="EditCustomers" description="新建、编辑客户" roles="InvitationPlatform:IndustrialParkAdministationManager"/>

    <add name="EditMarketingActivity" description="新建、编辑市场活动" roles="SysAdmin:Administrators"/>
    <add name="EditProjectOperatingTemplates" description="新建、编辑操作模板" roles="SysAdmin:Administrators"/>
    <add name="EditProjectProcessTemplates" description="新建、编辑过程模板" roles="SysAdmin:Administrators"/>
    <add name="EditProjectPhaseTemplates" description="新建、编辑阶段模板" roles="SysAdmin:Administrators"/>
    <add name="EditProjectActionTemplates" description="新建、编辑行动模板" roles="SysAdmin:Administrators"/>
    <add name="EditAreas" description="新建、编辑区域" roles="SysAdmin:Administrators"/>
    <add name="EditParks" description="新建、编辑园区" roles="SysAdmin:Administrators"/>
    <add name="EditIndustrialParks" description="新建、编辑产业园" roles="SysAdmin:Administrators"/>
    <add name="EditIndustrialCenters" description="新建、编辑行业中心" roles="SysAdmin:Administrators"/>
    <add name="EditSellOffers" description="新建、编辑折扣" roles="SysAdmin:Administrators"/>
    <add name="EditPlatform" description="新建、编辑平台" roles="SysAdmin:Administrators"/>
    <add name="EditCountry" description="新建、编辑国家地区" roles="SysAdmin:Administrators"/>
    <add name="EditConstant" description="新建、编辑字典" roles="SysAdmin:Administrators"/>

    <add name="InvestmentOfficer" description="招商人员" roles="InvitationPlatform:InvestmentOfficer"/>

    <add name="IndustrialParkAdministationManager" description="综合管理岗" roles="InvitationPlatform:IndustrialParkAdministationManager"/>

    <add name="EditProjects" description="增加、编辑项目" roles="InvitationPlatform:IndustrialParkAdministationManager;InvitationPlatform:400CallAgent"/>
    <add name="400CallAgent" description="400电话坐席" roles="InvitationPlatform:400CallAgent"/>

    <add name="CanLoginGroup" description="可以登录的角色组" roles="SysAdmin:Administrators;InvitationPlatform:InvestmentOfficer,InvestmentOfficerManager,IndustrialParkGeneralManager,IndustrialParkAdministationManager,CRMSupervisor,GroupCRMDepartment,GroupPerformanceManager,400CallAgent,Level3InvitationSupervisor,Level3AreaOperatingSupervisor,Level3ManufactureRealestateSupervisor,Level3GeneralManager,Level3InvitationOperationSupervisor"/>

  </rolesDefine>
</rolesDefineConfig>