<rolesDefineConfig>
  <rolesDefine>
    <add name="ProcessAdmin" description="流程管理员" roles="SysAdmin:Administrators"/>
    <!--<add name="AdminFormQuery" description="分授权表单信息查询" roles="OAPORTAL:FORM_QUERY"/>-->
    <add name="AdminFormQuery" description="分授权表单信息查询" roles="SysAdmin:Administrators"/>
    <add name="WorkflowQueryAdmin" description="分授权流转信息查询" roles="SysAdmin:Administrators"/>
    <add name="DesignerRoleMatrix" description="流程角色矩阵" roles="SysAdmin:Administrators" />

    <!--招商相关的逻辑角色-->
    <add name="EditContacts" description="新建、编辑联系人" roles="InvitationPlatform:IndustrialParkAdministationManager;InvitationPlatform:InvestmentOfficer"/>
    <add name="InvestmentOfficer" description="招商人员" roles="InvitationPlatform:400CallAgent"/>
    <add name="IndustrialParkAdministationManager" description="综合管理岗" roles="InvitationPlatform:IndustrialParkAdministationManager"/>
    <add name="EditProjects" description="增加、编辑项目" roles="InvitationPlatform:IndustrialParkAdministationManager;InvitationPlatform:400CallAgent"/>
    <add name="400CallAgent" description="400电话坐席" roles="InvitationPlatform:400CallAgent"/>
  </rolesDefine>
</rolesDefineConfig>